In [1]:
print('Hello World!')

Hello World!

In [2]:
def say_hello(recipient):
    return 'Hello, {}!'.format(recipient)
say_hello('Tim')

'Hello, Tim!'

In [3]:
import numpy as np
import pandas as pd

In [4]:
typhoon = pd.read_json('typhoonHaiyan.json')
print(typhoon)

       status_code status_message  \
total            0             OK
data             0             OK

                                                 request  pagination  \
total  GET /api/v1/search/results?access_token=4852e7...      3413.0
data   GET /api/v1/search/results?access_token=4852e7...         NaN

                                          result_content
total                                                NaN
data   [{'data': {'url': 'https://www.nbcnews.com/new...

In [5]:
typhoon.head()

,status_code,status_message,request,pagination,result_content
total,0,OK,GET /api/v1/search/results?access_token=4852e7...,3413.0,NaN
data,0,OK,GET /api/v1/search/results?access_token=4852e7...,NaN,[{'data': {'url': 'https://www.nbcnews.com/new...

In [6]:
info = typhoon.result_content['data']

In [7]:
info.head()

AttributeError: 'list' object has no attribute 'head'