In [1]:
#  test 1
# print('Hello World!')
#  test 2
# def say_hello(recipient):
#     return 'Hello, {}!'.format(recipient)
# say_hello('Tim')

In [2]:
#  installing dependencies
import numpy as np
import pandas as pd

In [3]:
#  importing the data from a file in the same direcotry, then accessing the relevent part of the document
typh = pd.read_json('../TyphoonHaiyan.json')
info = typh.result_content['data']
# print(info[0])

In [4]:
#  Becasue NumPy and Pandas are much quicker with Arrays/Lists, this function flattens a single object/dictionary at a time into one root dictionary, leaving the arrays to be manipulated later if needed.
def dict_flattener(dd, seperator='/', prefix=''):
    return {prefix + seperator + k if prefix else k : v
    for kk,vv in dd.items()
    for k,v, in dict_flattener(vv, seperator, kk).items()
    } if isinstance(dd, dict) else {prefix : dd}

#  flatten the data and store function result as a new entry in the 'data' variable
data = []
for x in info:
    data.append(dict_flattener(x['data']))

In [5]:
#  we are now able to create a DataFrame from the list of dictionaries, sampling the first 5
df = pd.DataFrame(data)
df.head()

,url,indexed,search_indexed,published,title,content,title_snippet,content_snippet,root_url,domain_url,...,extra_source_attributes/name,engagement,reach,word_count,trending_score,entity_url,tokens_mention,tokens_hashtag,videos,extra_source_attributes/url
0,https://www.nbcnews.com/news/world/christmas-t...,1577417777009,1577417808485,1577415990000,"Christmas typhoon leaves 28 dead, 12 missing i...","MANILA, Philippines ΓÇö A strong typhoon that ...","Christmas <b>typhoon</b> leaves 28 dead, 12 mi...",...Philippines ΓÇö A strong <b>typhoon</b> tha...,https://www.nbcnews.com/,http://nbcnews.com/,...,nbcnews.com,79485,28843536,439,0.0,NaN,NaN,NaN,NaN,NaN
1,https://www.euronews.com/2019/12/27/christmas-...,1577417446067,1577417452870,1577415990000,"Christmas typhoon leaves 28 dead, 12 missing i...","MANILA, Philippines ΓÇö A strong typhoon that ...","Christmas <b>typhoon</b> leaves 28 dead, 12 mi...",...traveled along a path similar to that of <b...,https://www.euronews.com/,http://euronews.com/,...,euronews.com,72384,10095239,439,0.0,[{'url': 'https://static.euronews.com/articles...,NaN,NaN,NaN,NaN
2,https://edition.cnn.com/2019/12/23/asia/asia-p...,1577155935081,1577155961219,1577154684000,In Asia Pacific the climate crisis is happenin...,The world's most disaster-prone region felt th...,In Asia Pacific the climate crisis is happenin...,...stronger winds.\n\nJoanna Sustento has been...,https://edition.cnn.com/,http://cnn.com/,...,cnn.com,26673,41653588,1836,0.0,[{'url': 'cdn.cnn.com/cnnnext/dam/assets/19110...,NaN,NaN,NaN,NaN
3,https://edition.cnn.com/2019/12/26/asia/philip...,1577345702655,1577345729427,1577344041000,"Typhoon Phanfone: Ursula hits the Philippines,...",A typhoon that lashed the central Philippines ...,<b>Typhoon</b> Phanfone: Ursula hits the Phili...,...homes and tourist areas.\n\n<b>Typhoon</b> ...,https://edition.cnn.com/,http://cnn.com/,...,cnn.com,17642,41653588,500,0.0,[{'url': 'https://pia.gov.ph/news/articles/103...,NaN,NaN,NaN,NaN
4,https://news.abs-cbn.com/news/12/26/19/christm...,1577333852530,1577333863173,1577330133000,Christmas storm Ursula kills at least 16 - ABS...,MANILA - A typhoon that swept across remote vi...,Christmas storm Ursula kills at least 16 - ABS...,...tracked a similar path as Super <b>Typhoon<...,https://news.abs-cbn.com/,http://abs-cbn.com/,...,abs-cbn.com,15794,6392708,387,0.0,[{'url': 'https://sa.kapamilya.com/absnews/abs...,NaN,NaN,NaN,NaN

In [6]:
#  Now lets say I want to know more about the items that have NUMERICAL values. 
num_vals = df.select_dtypes(include=['int'])
num_vals.head()

,indexed,search_indexed,published,porn_level,fluency_level,spam_level,sentiment,source_extended_attributes/alexa_pageviews,source_extended_attributes/alexa_unique_visitors,engagement,reach,word_count
0,1577417777009,1577417808485,1577415990000,20,100,0,0,42400000,28843536,79485,28843536,439
1,1577417446067,1577417452870,1577415990000,20,100,0,0,21200000,10095239,72384,10095239,439
2,1577155935081,1577155961219,1577154684000,0,90,0,0,98719000,41653588,26673,41653588,1836
3,1577345702655,1577345729427,1577344041000,0,100,0,0,98719000,41653588,17642,41653588,500
4,1577333852530,1577333863173,1577330133000,0,100,0,0,12274000,6392708,15794,6392708,387

In [7]:
#  lets rename the columns to make it a little more readable
new_cols = {
    "search_indexed":"searchIndexed",
    "porn_level":"pornLevel",
    "fluency_level":"fluencyLevel",
    "spam_level":"spamLevel",
    "source_extended_attributes/alexa_pageviews":"pageViews",
    "source_extended_attributes/alexa_unique_visitors":"uniqueVisitors",
    "word_count":"wordCount"
}
numVals = num_vals.rename(columns=new_cols)
numVals.tail()

,indexed,searchIndexed,published,pornLevel,fluencyLevel,spamLevel,sentiment,pageViews,uniqueVisitors,engagement,reach,wordCount
495,1577352048439,1577352067810,1577351633000,0,100,21,0,10000,5000,1,5000,552
496,1577351825053,1577351841028,1577350523000,0,100,10,0,60000,40000,1,40000,429
497,1577351201300,1577351231809,1577350115000,0,100,13,-5,170000,154545,1,154545,438
498,1577386747320,1577386762956,1577349386731,0,100,0,0,110000,84615,1,84615,557
499,1577349029245,1577349046165,1577347608000,0,100,5,0,40000,40000,1,40000,342

In [8]:
#  now lets get the averages for the pertinent/relevent columns, and print the information that we've discovered
avg_pornLvl = numVals['pornLevel'].mean()
avg_fluencyLvl = numVals['fluencyLevel'].mean()
avg_spamLvl = numVals['spamLevel'].mean()
avg_sentiment = numVals['sentiment'].mean()
avg_views = numVals['pageViews'].mean()
avg_qVisits = numVals['uniqueVisitors'].mean()
avg_engagement = numVals['engagement'].mean()
avg_reach = numVals['reach'].mean()
avg_wrdCnt = numVals['wordCount'].mean()
#  
print('DATAFRAME AVERAGES')
print()
print('Porn Level = %s' % (avg_pornLvl))
print('Fluency Level = %s' % (avg_fluencyLvl))
print('Spam Level = %s' % (avg_spamLvl))
print('Sentiment (scale: -5, 0, or +5) = %s' % (avg_sentiment))
print('Page Views = %s' % (avg_views))
print('Unique Visitors = %s' % (avg_qVisits))
print('Engagement = %s' % (avg_engagement))
print('Reach = %s' % (avg_reach))
print('Word Count = %s' % (avg_wrdCnt))

DATAFRAME AVERAGES

Porn Level = 4.7
Fluency Level = 97.618
Spam Level = 2.946
Sentiment (scale: -5, 0, or +5) = -0.4
Page Views = 24846954.0
Unique Visitors = 7003802.496
Engagement = 715.052
Reach = 7003802.496
Word Count = 552.558

In [10]:
#  lets say I want to learn more about the other statistical data
stats = numVals[['fluencyLevel', 'spamLevel','sentiment','pageViews','uniqueVisitors','engagement','reach','wordCount']]
print(stats.describe())

fluencyLevel   spamLevel  sentiment     pageViews  uniqueVisitors  \
count    500.000000  500.000000  500.00000  5.000000e+02    5.000000e+02
mean      97.618000    2.946000   -0.40000  2.484695e+07    7.003802e+06
std        9.718899    7.791566    1.71636  2.435569e+08    4.296740e+07
min        0.000000    0.000000   -5.00000  0.000000e+00    0.000000e+00
25%      100.000000    0.000000    0.00000  1.300000e+05    8.000000e+04
50%      100.000000    0.000000    0.00000  8.250000e+05    4.928915e+05
75%      100.000000    1.000000    0.00000  5.555000e+06    2.475217e+06
max      100.000000  100.000000    5.00000  5.292000e+09    8.576986e+08

         engagement         reach    wordCount
count    500.000000  5.000000e+02   500.000000
mean     715.052000  7.003802e+06   552.558000
std     5162.731872  4.296740e+07   490.018815
min        1.000000  0.000000e+00    30.000000
25%        1.000000  8.000000e+04   380.750000
50%        2.000000  4.928915e+05   446.000000
75%       21.000000  2.475217e+06   608.500000
max    79485.000000  8.576986e+08  7225.000000