In [1]:
#  installing dependencies
import numpy as np
import pandas as pd

In [2]:
#  importing the data from a file in the same direcotry
titanic = pd.read_csv("../Titanic.csv")

In [3]:
#  we are now able to create a DataFrame from the list of dictionaries, sampling the first 5
df = pd.DataFrame(titanic)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#  Let's say we want to make the column names and values clearer to others.
#  First, lets rename the columns
df = df.rename(columns={"Pclass":"Socio-Economic Class", "SibSp":"Siblings/Spouses onboard", "Parch":"Parents/Children onboard", "Cabin":"Cabin Number", "Embarked":"Embarking Port"})
#  Then, let's change the values to make it more readable
df = df.replace({"Embarking Port": {"C":"Cherbourg","Q":"Queenstown","S":"Southampton"}})

In [5]:
#  Now lets say I want to know more about the items that have STRING values. NOTE: the below will return ALL object data types in the DF. Arrays will be "NAN"
str_vals = df.select_dtypes(include=['object'])
str_vals.head()

,Name,Sex,Ticket,Cabin Number,Embarking Port
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,Southampton
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,Cherbourg
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,Southampton
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,Southampton
4,"Allen, Mr. William Henry",male,373450,NaN,Southampton

In [6]:
#  What if I wanted to store more data in memory? Check data types and then their memory usage to identify where we should focus our efforts.
df.dtypes

PassengerId                   int64
Survived                      int64
Socio-Economic Class          int64
Name                         object
Sex                          object
Age                         float64
Siblings/Spouses onboard      int64
Parents/Children onboard      int64
Ticket                       object
Fare                        float64
Cabin Number                 object
Embarking Port               object
dtype: object

In [7]:
df.memory_usage(deep=True)

Index                         128
PassengerId                  7128
Survived                     7128
Socio-Economic Class         7128
Name                        74813
Sex                         54979
Age                          7128
Siblings/Spouses onboard     7128
Parents/Children onboard     7128
Ticket                      56802
Fare                         7128
Cabin Number                34376
Embarking Port              60103
dtype: int64

In [8]:
#